.el-aside {
    // width: 200px;

    // height: 100%;
    // overflow: hidden;
    .el-scrollbar {
        height: 100%;

        .el-scrollbar__wrap {
            overflow-x: hidden;
            overflow-y: auto;
        }
    }
}

.el-menu-item, .el-submenu__title {
    a {
        display: block;
        width: 100%;
        height: 100%;

        span {
            color: #303133;
            transition: color 0.5s;
        }
    }
}

.el-menu-item {
    &:focus {
        background: #fff;
    }

    &.is-active {
        background: #ECF5FF;

        a span {
            color: $baseC;
        }
    }
}